<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/skeleton.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>

    {% include header.html %}

    <div class="container">

      <div class="row" style="margin-top: 10%">

        {{ content }}

        <hr>

      </div>

      <div class="row">
        {% for post in site.tags.book %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a><br></li>
        {% endfor %}
      </div>

    </div>

  </body>
</html>
