<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/skeleton.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  </head>
  <body>

    {% include header.html %}

    <div class="container">

      <div class="row" style="margin-top: 10%">

        {% for post in site.tags.blog limit:5 %}
            <div class="row" style="text-align:right; margin-bottom:3%;">
              <small>{{ post.date | date_to_string }}</small>
            </div>
            {{ post.content }}
        {% endfor %}

      </div>

      {% include footer.html %}

    </div>

  </body>
</html>
