<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">

{% include head.html %}

  <body>

    <div class="container-center">
      <div class="row">
        <div class="one-half column">
          <h5 style='margin-bottom:1rem'>Hola, me llamo Matías y estoy en:</h5>

          <p>
            <a href="https://twitter.com/catorceveces">Twitter</a>, diciendo cosas.<br></small>


<!--
            <a href="https://example.com">Github</a>, abandonando proyectos.<br></small>
             Y en <a href="https://cafecito.app/catorceveces">Cafecito</a>, mangueando.</small>
-->
          </p>

          <hr>

          <p align="justify">
            Acá tengo un <a href="/blog">blog</a> porque a veces Twitter se me queda corto de caracteres, una lista
            de los episodios de mi <a href="/podcast">podcast</a>, una colección de
            <a href="/proyectos">proyectos</a> personales, y una <a href="/novela">novela</a> siempre inconclusa.
          </p>

        </div>
      </div>
    </div>
  </body>
</html>
