<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">

{% include head.html %}

  <body>

    <div class="container-fluid" style='margin-top:5rem'>
      <div class="row" style='text-align:justify'>
        <div class="three columns"></div>
        <div class="six columns">

          <div class="row" style="text-align:center; margin-bottom:2%;">
            <h6>{{ page.title }}</h6>
          </div>

          <div class="row" style="text-align:right; margin-bottom:3%;">
            <small>{{ page.date | date_to_string }}</small>
          </div>

              {{ content }}

          <hr>

          <div class="row" style="text-align:center; margin-bottom:2%;">
            {% if page.tags contains "blog" %}
              <a href="/blog"> Volver</a>
            {% elsif page.tags contains "novela" %}
              <a href="/novela"> Volver</a>
            {% endif %}
          </div>

        </div>
        <div class="three columns"></div>
      </div>
    </div>

  </body>
</html>
